<% layout('./layout/page.ejs') %>
<% if(user) {%>
    <h1>Здравствуйте <%= user.username %></h1>
    Случай залогиненного пользователя
    <% }else{ %>
    Случай не залогиненного пользователя
<% } %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Счетчик: <%= counter %></p>